<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>Course</title>
</head>

<body>
    {{>header}}


    <main>
        <div class="row_content img_language">
            <div class="img_university">
                <img src="#" alt="Logo">
            </div>
        </div>

        <div class="box title_course">
            <div class="name_course">
                Nhập môn công nghệ phần mềm - 21_3
            </div>
            <div class="link_current_page">

                <a class="link_page" href="#">Home</a>
                <p class="slash"> / </p>

                <a href="#" class="link_page">Nhập môn công nghệ phần mềm - 21_3</a>

            </div>
        </div>

        <div class="content_body">
            <div class="content">
                <div class="box last_box">

                    <!-- Button Add -->
                    <div class="btn-group">
                        <button id="button_add" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                            <button id="button_add_topic" class="dropdown-item" type="button">Add topic</button>
                            <button id="button_add_assignment" class="dropdown-item" type="button">Add
                                assignment</button>
                        </div>
                    </div>


                    <div id="window_background"></div>

                    <!-- Add topic window -->
                    <form id="form_add_topic">
                        <div id="window__add_topic">
                            <!-- Window header -->
                            <div class="window_header">
                                <div><pre>   </pre></div>
                                <span class="window_title">Add topic</span>
                                <i id="x_add_topic" class="fa-solid fa-xmark"></i>
                            </div>
    
                            <!-- Window body -->
                            <div class="window_body">
                                <div id="table_add_topic">
                                    <!-- Topic name -->
                                    <label for="topic_name">Topic name</label>
                                    <input id="topic_name" type="text" required />

                                    <!-- Topic description -->
                                    <label for="topic_description">Description</label>
                                    <textarea id="topic_description"></textarea>
                                </div>
                            </div>

                            <!-- Window footer -->
                            <div class="window_footer">
                                <input id="button_cancel_add_topic" type="button" value="Cancel"/>
                                <input id="button_ok_add_topic" type="submit" value="Add"/>
                            </div>
                        </div>
                    </form>
                     

                    <!-- Add assignment window -->
                    <form id="form_add_assignment">
                        <div id="window__add_assignment">
                            <!-- Window header -->
                            <div class="window_header">
                                <div><pre>  </pre></div>
                                <span class="window_title">Add assignment</span>
                                <i id="x_add_assignment" class="fa-solid fa-xmark"></i>
                            </div>

                            <!-- Window body -->
                            <div class="window_body">
                                <div id="table_add_assignment">
                                    <!-- Assigment name -->
                                    <label for="assignment_name">Assignment name</label>
                                    <input id="assignment_name" type="text" required />

                                    <!-- Assignment topic -->
                                    <label for="assignment_topic">Topic</label>
                                    <select id="assignment_topic"></select>

                                    <!-- Assignment open -->
                                    <label for="assignment_open_date">Open</label>
                                    <input id="assignment_open_date" type="date" required/>
                                    <select id="assignment_open_hour"></select>
                                    <select id="assignment_open_minute"></select>

                                    <!-- Assignment due -->
                                    <label for="assignment_due_date">Due</label>
                                    <input id="assignment_due_date" type="date" required/>
                                    <select id="assignment_due_hour"></select>
                                    <select id="assignment_due_minute"></select>

                                    <!-- Assignment description -->
                                    <label for="assignment_description">Description</label>
                                    <textarea id="assignment_description"></textarea>
                                </div>
                            </div>

                            <!-- Window footer -->
                            <div class="window_footer">
                                <input id="button_cancel_add_assignment" type="button" value="Cancel"/>
                                <input id="button_ok_add_assignment" type="submit" value="Add"/>
                            </div>
                        </div>
                    </form>
                    

                    <div class="row_content ">
                        <p class="title_row">Slides</p>
                        <ul class="list">
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">00-Intro</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">01-Overview</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">02-Software processes</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">03-Project Management</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">04-Requirements Engineering</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">05-System Modeling</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">06-Architectural design</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">07-OODesign</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">08-User interface</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">09-Testing</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">10-AgileDevelopment</a>

                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="row_content ">

                        <p class="title_row">Readings</p>
                        <ul class="list">
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">01-Overview</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">02-Software processes</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">03-Project management</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">03-Project planning</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">04-Requirements Engineering</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">(optional)04-Documenting Requirements in Natural
                                        Language</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">05-System modeling</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="https://www.uml-diagrams.org/">Link: 05-UML Diagrams</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="https://www.visual-paradigm.com/download/community.jsp">Tool
                                        UML: 05-Download Visual Paradigm Community Edition</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">06-Architectural design</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="https://www.oodesign.com/">Link: OODesign</a>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row_content ">

                        <p class="title_row">Classwork</p>
                        <ul class="list">
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">02-Software Processes</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">03-ProjectManagement</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">04-Requirements engineering</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">05-SystemModeling</a>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row_content last_row">

                        <p class="title_row">Project</p>
                        <ul class="list">
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">Grades</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">All PAs - For Project Plan Estimation in PA1 (3 weeks /
                                        sprint for this class)</a>

                                </div>
                            </li>
                            <li class="row_icon_link">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">Notes for PAs - Updated: 2023-10-03</a>

                                </div>
                            </li>
                            <li class="row_icon_link parent">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">PA0</a>

                                </div>
                                <ul class="list">
                                    <li class="row_icon_link">
                                        <div class="icon">
                                            <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                                alt="">
                                            <a class="text" href="#">PA0 Guidelines - PA0, Slack, Jira, Drive, Git,
                                                Toggl

                                        </div>
                                        </a>
                                    </li>
                                    <li class="row_icon_link ">
                                        <div class="icon submission">
                                            <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/assign/1697455118/icon"
                                                alt="">
                                            <a class="text" href="#">PA0 - Submission - Filename: GroupID.zip - Ex:
                                                Group02.zipAssignment</a>

                                        </div>
                                        <div class="score_box color_box">
                                            <div class="title_score">
                                                Điểm:
                                            </div>
                                            <div class="score">
                                                ---
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                            <li class="row_icon_link parent">
                                <div class="icon">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                        alt="">
                                    <a class="text" href="#">PA1</a>
                                </div>

                                <ul class="list">
                                    <li class="row_icon_link">
                                        <div class="icon">
                                            <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/url/1697455118/icon"
                                                alt="">
                                            <a class="text" href="#">PA1 Guidelines</a>
                                        </div>

                                    </li>
                                    <li class="row_icon_link ">
                                        <div class="icon submission">
                                            <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/assign/1697455118/icon"
                                                alt="">
                                            <a class="text" href="#">PA1 - Submission - Filename: GroupID.zip - Ex:
                                                Group02.zipAssignment</a>
                                        </div>
                                        <div class="score_box color_box">
                                            <div class="title_score">
                                                Điểm:
                                            </div>
                                            <div class="score">
                                                ---
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>


            <div class="side">
                <div class="box list_people">
                    <div class="home_side_header_box"> 
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Scores</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <strong>
                            <a>Điểm:</a>
                            <a class="Score">----</a>
                        </strong>
                    </div>
                    <div class="home_side_header_box"> 
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Class ID</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="id-class">NMCNPM_21-2</a> </strong></h5>
                    </div>
                    <div class="home_side_header_box"> 
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Class name</a>
                    </div>
    
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="course_name">Nhập môn Công nghệ phần mềm</a></strong></h5>
                    </div>
                    <div class="home_side_header_box"> 
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Number of Teachers</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="number-lecturers">3</a> </strong></h5>
                    </div>    
                    <div class="list_teacher color_box">
                        <strong class="title_row title_text" style="color: rgb(151, 184, 85);">Teacher</strong>
                        <ul class="list">
                            <li class="member">
                                <div class="teacher">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/core/1697455118/u/f2" alt="Teacher">
                                    <div class="name_teacher">
                                        <p class="name">Hồ Tuấn Thanh</p>
                                    </div>
                                </div>
                            </li>
                            <li class="member">
                                <div class="teacher">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/core/1697455118/u/f2" alt="Teacher">
                                    <div class="name_teacher">
                                        <p class="name">Mai Anh Tuấn</p>
                                    </div>
                                </div>
                            </li>
                            <li class="member">
                                <div class="teacher">
                                    <img src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/core/1697455118/u/f2" alt="Teacher">
                                    <div class="name_teacher">
                                        <p class="name">Nguyen Thi Minh Tuyen</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="home_side_header_box"> 
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Number of Students</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="number-lecturers">30</a> </strong></h5>
                    </div>
                    <div class="home_side_header_box"> 
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">List Students</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <div class="icon title_text">
                            <a class="text link_group_people" href="#" onclick="showListStudent(1)">Show participants list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    {{>footer}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/teacher_course.js"></script>
    <script src="/js/list_student.js"></script>
</body>

</html>