<header class="header">
        <div class="header__container">
            <div class="header__first-block">
            </div>
            <!-- end first-block -->
            <div class="header__second-block">
                <div class="header__user">
                    <span class="header__user-name">{{username}}</span>
                    <i class="fa-regular fa-user"></i>
                    <i class="fa-solid fa-angle-down"></i>

                    <ul class="header__user-list">
                        <!-- <li class="header__user-item">
                            <i class="header__user-icon fa-regular fa-calendar"></i>
                            <a href="">View Deadline</a>
                        </li>
                        <li class="header__user-item">
                            <i class="header__user-icon fa-solid fa-graduation-cap"></i>
                            <a href="">View Scores</a>
                        </li> -->
                        <li class="header__user-item">
                            <a href="/logout" class="btn header__user-logout">
                            <i class="header__user-icon fa-solid fa-right-from-bracket"></i>
                                Log out
                            </a>
                        </li>
                        
                        <li class="header__user-item">
                            <a href="/password_change" class="btn header__user-logout">
                            <i class="fa-solid fa-key"></i>
                                Change password
                            </a>
                        </li>
                    </ul>
                </div> <!--header__second-block -->
            </div>

        </div>
</header>