<header class="header">
        <div class="header__container">
            <div class="header__first-block">
                <span class="header__phone-no">
                    <i class="fa-solid fa-phone"></i>
                    Call us : (028) 3835 4266
                </span>
                <span class="header__email">
                    <i class="fa-regular fa-envelope"></i>
                    Email :
                    <a href="#" class="header__email-link">info@fit.hcmus.edu.vn</a>
                </span>
            </div>
            <!-- end first-block -->
            <div class="header__second-block">
                <div class="header__user">
                    <span class="header__user-name">Admin</span>
                    <i class="fa-regular fa-user"></i>
                    <i class="fa-solid fa-angle-down"></i>


                    <ul class="header__user-list">
                        <!-- <li class="header__user-item">
                            <i class="header__user-icon fa-regular fa-calendar"></i>
                            <a href="">View Deadline</a>
                        </li>
                        <li class="header__user-item">
                            <i class="header__user-icon fa-solid fa-graduation-cap"></i>
                            <a href="">View Scores</a>
                        </li> -->
                        <li class="header__user-item">
                            <i class="header__user-icon fa-solid fa-right-from-bracket"></i>
                            <button class="btn btn--default header__user-logout">
                                <span>Log out</span>
                            </button>
                        </li>
                    </ul>
                </div> <!--header__second-block -->
            </div>

        </div>
    </header>