<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
                <h4>Info</h4>
                <ul>
                    <li>
                        Faculty of Information Technology,
                        <br/>
                        VNUHCM-University of Science
                    </li>

                    <li>
                        Introduction to Software Engineering
                        <br/>
                        Group 10 - 21_3 
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col2">
                <h4>Websites</h4>
                <ul>
                    <li><a href="https://hcmus.edu.vn/">University Website</a></li>
                    <li><a href="https://www.fit.hcmus.edu.vn/">Faculty Website</a></li>
                    <li><a href="https://portal3.hcmus.edu.vn/">Portal</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col3">
                <h4>Contact us</h4>
                <ul>
                    <li>227 Nguyen Van Cu, District 5, Ho Chi Minh city, Vietnam</li>

                    <li>
                        <span id="label-phone">Phone:</span>036-757-7546
                    </li>

                    <li>
                        Email:
                        <pre> </pre>
                        <a href="mailto:21120581@student.hcmus.edu.vn">21120581@student.hcmus.edu.vn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
